body {
	background-image: white;
	background-size: cover;
}

nav {
	text-align: justify;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	border: 10px;
	word-spacing: 70px;
	display: inline;
}

a {
	background-color: black;
  	color: white;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	border-radius: 0px 50px 50px 50px;
  	box-shadow: 3px 3px 5px 4px #ccc;
}

a:hover, a:active {
  background-color: rgb(104, 249, 245);
}

hr {
  	border: 0;
  	height: 0;
  	box-shadow: 0 0 10px 1px black;
}

h2 {
	text-align: center;
	border: 10px;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-decoration: underline;
	text-decoration-color: #b7ff84
}

h3, h4, p, li {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-style: italic;
	font-weight: bold;
	max-width: 50%;
	margin: auto;
}

