img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
  border-radius: 50%;
}

body {
	background-image: url(projects.jpg);
	background-size: cover;
}

h2 {
	text-align: center;
	border: 5px;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}

h3 {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	font-style: italic;
}

nav {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px pink;
	border: 10px;
	word-spacing: 30px;
}


section {
	text-align: center;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
}

